<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile rowspan="2" colspan="2" style="background-color: royalblue;">1</mat-grid-tile>
  <mat-grid-tile style="background-color: royalblue;">2</mat-grid-tile>
  <mat-grid-tile rowspan="2" style="background-color: royalblue;">3</mat-grid-tile>
  <mat-grid-tile style="background-color: royalblue;">4</mat-grid-tile>


  <mat-grid-tile style="background-color: royalblue;">5</mat-grid-tile>
  <mat-grid-tile rowspan="2" colspan="2" style="background-color: royalblue;">6</mat-grid-tile>
  <mat-grid-tile style="background-color: royalblue;">7</mat-grid-tile>
  <mat-grid-tile style="background-color: royalblue;">8</mat-grid-tile>
  <mat-grid-tile style="background-color: royalblue;">9</mat-grid-tile>

  <mat-grid-tile style="background-color: royalblue;">10</mat-grid-tile>
  <mat-grid-tile style="background-color: royalblue;">11</mat-grid-tile>
  <mat-grid-tile rowspan="2" colspan="2" style="background-color: royalblue;">12</mat-grid-tile>
  <mat-grid-tile style="background-color: royalblue;">13</mat-grid-tile>
  <mat-grid-tile style="background-color: royalblue;">14</mat-grid-tile>
</mat-grid-list>